<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Petcalendar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>petcalendar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- 🔐 Permissions -->

	<!-- Location (for geolocation, maps) -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to show nearby parks and connect with other dog owners.</string>
	
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location to show nearby parks and connect with other dog owners.</string>


	<!-- Camera (for taking pet photos) -->
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to upload pet photos.</string>

	<!-- Photo Library (for selecting images) -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select pet images.</string>

	<!-- Microphone (if using video/audio) -->
	<key>NSMicrophoneUsageDescription</key>
	<string>This app may use the microphone during video features.</string>

	<!-- App Tracking Transparency (optional for ads/analytics) -->
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier is used to deliver personalized ads and improve the app experience.</string>

	<!-- Firebase (AppDelegate proxy setting, optional) -->
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>

	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3773871623541431~4689160792</string>

</dict>
</plist>
